<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Para dar de alta un contexto de spring por XML, usaremos un fichero 
		de este tipo, y lo llamaremos desde la app. 
		
		Dentro de este fichero podremos dar de alta todos los beans que queramos dentro de 
		nuestro contexto de Spring. 
		
		En este ejemplo solo vamos a tener un bean creado a partir de la clase ejemplo01.Mensaje. 
		Para dar de alta un bean en el contexto de spring usaremos la etiqueta "bean" 
		y tendrá que tener al menos un identificador del bean "id", y la class que 
		tiene que usar Spring para instanciar el objeto De manera basica, debemos 
		de tener en la clase el constructor sin parametros 
		
		El ciclo de vida de los beans en Spring es por defecto de tipo "Singleton" que 
		se traduce en que el objeto sera unico para toda la duracion del contexto de spring. 
		
		Hablaremos de otros ciclos de vida más adelante -->
		
		
    <bean id="direccionCasa" class="es.curso.springcasa.Direccion">
        <property name="tipoVia" value="Calle" />
        <property name="nombreVia" value="Mayor" />
        <property name="codigoPostal" value="02001" />
        <property name="numero" value="12" />
    </bean>

    <!-- Bean de la casa con habitaciones -->
    <bean id="casa" class="es.curso.springcasa.Casa">
        <property name="direccion" ref="direccionCasa" />
        
        <property name="habitaciones">
            <list>
                <bean class="es.curso.springcasa.Habitacion">
                    <property name="metrosCuadrados" value="15.5" />
                    <property name="tipo" value="Dormitorio" />
                    <property name="numero" value="1" />
                </bean>
                <bean class="es.curso.springcasa.Habitacion">
                    <property name="metrosCuadrados" value="10.0" />
                    <property name="tipo" value="Baño" />
                    <property name="numero" value="2" />
                </bean>
                <bean class="es.curso.springcasa.Habitacion">
                    <property name="metrosCuadrados" value="20.0" />
                    <property name="tipo" value="Salón" />
                    <property name="numero" value="3" />
                </bean>
            </list>
        </property>

        <property name="propietario">
            <bean class="es.curso.springcasa.Persona">
                <property name="nombre" value="Juan López" />
                <property name="dni" value="12345678A" />
                <property name="telefono" value="600123456" />
            </bean>
        </property>

        <property name="precioAlquiler" value="850.0" />
    </bean>

    <!-- Lista de inquilinos -->
    <bean id="inquilino1" class="es.curso.springcasa.Persona">
        <property name="nombre" value="María Ruiz" />
        <property name="dni" value="98765432Z" />
        <property name="telefono" value="666987654" />
    </bean>

    <bean id="inquilino2" class="es.curso.springcasa.Persona">
        <property name="nombre" value="Luis Martínez" />
        <property name="dni" value="11223344B" />
        <property name="telefono" value="644112233" />
    </bean>

    <!-- Bean del alquiler -->
    <bean id="alquiler" class="es.curso.springcasa.Alquiler">
        <property name="casa" ref="casa" />
        <property name="inquilinos">
            <list>
                <ref bean="inquilino1" />
                <ref bean="inquilino2" />
            </list>
        </property>
        <property name="fechaInicio" value="2024-06-01" />
        <property name="fechaFin" value="2025-06-01" />
        <property name="precioTotal" value="10200.0" />
    </bean> 


</beans>
	

